*.*
*
.*
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/

!*.sublime-keymap
!*.sublime-settings
!*.sublime-snippet
!*.sublime-macro
!*.sublime-project
!*.sublime-workspace
!*.sublime-color-scheme
!*.sublime-theme
!.gitignore
!README.md
